.address-modal-container {
    position: fixed;
    inset: 0;
    background: var(--light-black-3);
    z-index: 10;
}

.address-modal {
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--white-color);
    border-radius: 1rem;
}

@media screen and (max-width: 900px) {
    .address-modal {
        width: 70%;
        margin: 0 auto;
        padding: 2rem;
        background: var(--white-color);
        border-radius: 1rem;
    }
}