.empty-page {
    position: relative;
}

.empty-page > img {
    height: 32rem;
}

.on-top {
    position: absolute;
    left: 70%;
    top: 40%;
    gap: 3rem;
}

.on-top > h1 {
    font-size: 3rem;
    font-family: var(--font-comforter);
}

.on-top > .back {
    font-size: 1.25rem;
    font-weight: 600;
    transition: var(--default-transition);
    border: 1px solid var(--black-color);
    border-left: 5px solid var(--black-color);
    padding: 1rem;
}

.on-top > .back:hover {
    transform: scale(0.98);
}

.black {
    color: var(--black-color);
}